@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #758190;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.header-text {
    margin-right: auto; /* Push the search bar to the right */
}

.search-container {
    display: flex;
    align-items: center; /* Center the search bar and button vertically */
}

#search-bar {
    font-family: 'Cabin';
    padding: 0.75em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 0.5em; /* Space between input and button */
    width: 200px;
    transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
    box-shadow: 0 2px 10px #00c38577; /* Green aura effect */
}

#search-bar:focus {
    outline: none; /* Remove default outline */
}

#search-btn {
    padding: 0.75em 1em;
    border-radius: 5px;
    border: none;
    background-color: #00c385; /* Green background */
    box-shadow: 0 5px 15px #00c38577;
    color: white; /* White text */
    cursor: pointer;
}

#search-btn:hover {
    box-shadow: 0 10px 25px #00c38577;
    color: #fff;
    cursor: pointer;
}

.stats-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}